<section class="third_section block--full_screen wrapper--padding-y">
    <div class="relative w-full">
        <div class="third_section_first_block wrapper">
            <h3 class="third_section__text">湧命法</h3>
        </div>
        <div class="third_section_second_block wrapper">
            <h3 class="lng_third_section_decor_title third_section__text text-primary-100">Юмейхо-терапія</h3>
        </div>
        <div class="third_section_wrapper">
            <div class="wrapper">
                <div class="third_section_body">
                    <h3 class="third_section_body__item third_section_body__item--hover">
                        <span
                            class="third_section_body__title third_section_body__title--circle md:before:translate-x-[-30%] md:before:translate-y-[-50%]">3</span>
                        <span class="lng_third_section_title_1 third_section_body__text">Сеанси результат</span>
                    </h3>
                    <h3 class="third_section_body__item third_section_body__item--hover">
                        <span
                            class="third_section_body__title third_section_body__title--circle third_section_body__title--big_circle md:before:translate-x-[-12%] md:before:translate-y-[-50%]">1000+</span>
                        <span class="lng_third_section_title_2 third_section_body__text">Задоволених клієнтів</span>
                    </h3>
                    <h3 class="third_section_body__item third_section_body__item--hover">
                        <span
                            class="third_section_body__title third_section_body__title--circle md:before:translate-x-[-70%] md:before:translate-y-[-50%]">5</span>
                        <span class="lng_third_section_title_3 third_section_body__text">Років досвіду</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
</section>