.third_section {
}

.third_section__text {
    top: calc(100vh / 2);
    position: sticky;
    @apply text-center text-[50px] font-light text-secondary
    lg:text-[100px];
}

.third_section_wrapper {
    @apply bg-tertiary-100 py-12
    lg:py-[86px];
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third_section_body {
    @apply flex flex-col justify-between  gap-[100px]
    sm:flex-row;
}

.third_section_body__item {
    @apply flex flex-col items-center;
}

.third_section_body__item--hover:hover
    .third_section_body__title--circle::before {
    height: 100px;
    width: 100px;
}
.third_section_body__item--hover:hover
    .third_section_body__title--big_circle::before {
    @apply h-[120px] w-[120px];
}

.third_section_body__title {
    @apply relative text-[48px] leading-[68px] font-mabryPro font-normal text-primary-200
    lg:text-[64px] lg:leading-[90px];
    z-index: 0;
}

.third_section_body__title--circle::before {
    @apply bg-secondary/50 rounded-[100%];
    z-index: -1;
    content: '';
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    transition: all 1s;
}

.third_section_body__title--big_circle {
    @apply md:before:h-[80px] md:before:w-[80px];
}

.third_section_body__text {
    @apply text-center text-[24px] leading-[26px] font-playfairDisplay font-normal text-primary-200 z-10
    lg:text-[36px] lg:leading-[40px];
}

@media (max-width: 450px) {
    .third_section_second_block * {
        font-size: 40px;
    }
}
@media (max-width: 370px) {
    .third_section_second_block * {
        font-size: 30px;
    }
}
