.input {
    @apply flex flex-col gap-2.5;
}

.input__label {
    @apply text-sm font-normal font-mabryPro text-primary-200
    lg:text-lg;
}

.input_wrapper {
    @apply relative
    hover:opacity-80;
}

.input__input {
    @apply w-full pb-[10px] pr-[36px]
    border-b-2 border-quinary-100
    text-sm font-normal font-mabryPro text-primary-200
    focus:outline-none
    lg:text-base;
}
.input__input:focus,
.input__input:focus ~ .input_button {
    @apply border-quinary-200;
}

.input_button {
    position: absolute;
    top: 10px;
    right: 10px;
    transform: translate(0%, 0%);
}

.input_button__close path {
    @apply fill-primary-300;
}

.input__textarea {
    @apply h-[150px] w-full pl-[20px] pr-[40px] py-[14px]
    border-2 border-quinary-100 rounded-lg
    text-sm font-normal font-mabryPro text-primary-200
    focus:outline-none focus:border-quinary-200 
    lg:text-base lg:h-[180px];
    resize: none;
}
