.wrapper {
    @apply mx-auto max-w-[2000px] px-4 md:px-[68px];
}
.wrapper--padding-y {
    @apply py-12;
}
.wrapper--padding-top {
    @apply pt-24;
}

@media (min-width: 1024px) and (orientation: landscape) {
    .wrapper--padding-y {
        /* todo padding */
        /* padding-top: 80px; */
        /* padding-bottom: 80px; */
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .wrapper--padding-top {
        /* todo padding */
        /* padding-top: 160px; */
        padding-top: 80px;
    }
}
