<div class="flex gap-[46px] {{class}}">
    <a href="https://telegram.me/+380961705376">
        <span class="lng_social_networks_telegram sr-only">Іконка Телеграма</span>
        {{> '../../elements/svgTelegram/index'}}
    </a>
    <a href="viber://chat?number=380961705376">
        <span class="lng_social_networks_viber sr-only">Іконка Вайбера</span>
        {{> '../../elements/svgViber/index'}}
    </a>
</div>