<footer class="footer">
    <div class="wrapper">
        <div class="footer_wrapper">
            <small class="footer__title">
                Site by Go Hard | © Nova Massage 2023 | All Rights Reserved
            </small>
        </div>
    </div>
</footer>