<section class="fifth_section wrapper--padding-y">
    <div class="wrapper fifth_section_wrapper">
        <h4 class="block__title self-start">
            Записатись<span class="text-secondary">!</span>
        </h4>
        <div class="fifth_section_body">
            <form class="form">
                {{> '../../components/input/index' id='input_name' label='Як до Вас
                звертатіся?' type='text'
                placeholder='Введіть своє повне ім’я'}}
                {{> '../../components/input/index' id='input_phone' label='Ваш номер телефону?'
                type='text'
                placeholder='+11 222 333 44 44'}}
                <div class="input">
                    <label class="input__label" for="input_description">
                        Поставте запитання або оформіть заявку
                    </label>
                    <div class="input_wrapper">
                        <textarea class="input__textarea" id="input_description"
                            placeholder="Тут Ви можете залишити запитання чи коментар"></textarea>
                        <button class="input_button top-[20px] right-[20px]">
                            {{> '../../elements/svgClose/index' class='input_button__close'}}
                        </button>
                    </div>
                </div>
                <button class='button button_scroll lg:self-start'>
                    <p class='button__text invisible'>
                        відправити повідомлення
                    </p>
                    <div class='button_scroll_wrapper'>
                        <div class='button_scroll_text'>
                            <span class='button__text' aria-hidden='true'>
                                відправити повідомлення
                            </span>
                            <span class='button__text' aria-hidden='true'>
                                відправити повідомлення
                            </span>
                        </div>
                    </div>
                </button>
            </form>
            <div class="flex flex-col gap-[30px] justify-between lg:w-1/2">
                <div class="self-center lg:self-end">
                    {{> '../../elements/decorElementsForTouching/index' class='max-h-[150px]'}}
                </div>
                <address class="address">
                    <div class="address_layout">
                        <div class="address_item">
                            <h5 class="address__title">
                                телефон
                            </h5>
                            <div class="address_body">
                                <p class="address_body__text">+38 (096) 170 53 76</p>
                                <p class="address_body__text">+38 (050) 687 76 85</p>
                            </div>
                        </div>
                        <div class="address_item">
                            <h5 class="address__title">
                                e-mail
                            </h5>
                            <div class="address_body">
                                <p class="address_body__text">borisbortnikov@gmail.com</p>
                            </div>
                        </div>
                        <div class="address_item">
                            <h5 class="address__title">
                                Адреса
                            </h5>
                            <div class="address_body">
                                <p class="address_body__text">Київ (десять хвилин від метро Позняки)</p>
                            </div>
                        </div>
                    </div>
                    <div class="address_item">
                        <div>
                            <h5 class="address__title">
                                Локація
                            </h5>
                        </div>
                        <a href="https://www.google.com/maps/search/?api=1&query=50.39837929264725,30.634371072554035"
                            target="_blank" class="w-full rounded-lg max-h-[300px]">
                            <img class="address__img" src="assets/map.jpg" alt="Малюнок, де знаходиться майстер">
                        </a>
                    </div>
                </address>
                <div>
                    {{> '../../components/socialNetworks/index' class='max-sm:justify-center'}}
                </div>
            </div>
        </div>
    </div>
</section>