.fifth_section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.fifth_section_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
}

.fifth_section_body {
    @apply w-full flex flex-col gap-[70px]
    lg:flex-row;
}

.form {
    @apply relative flex flex-col gap-6
    lg:gap-8 lg:w-1/2;
}

.form_area {
    height: 100%;
    width: 101%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form_area__img {
}
.form_area__title {
    @apply text-center text-2xl font-normal font-mabryPro text-primary-300;
}
.form_area__text {
    @apply text-center text-sm font-normal font-mabryPro text-primary-200;
}

#button_submit {
    @apply relative;
}

.spinner_form {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contact {
}
.contact__title {
    @apply uppercase not-italic break-words text-sm font-normal font-mabryPro text-primary-100
    md:text-base;
}

.fifth_section_body_second {
    @apply max-lg:justify-items-center;
    display: grid;
    grid-template: auto 1fr / auto 1fr / auto 1fr / auto 1fr;
    grid-template-areas: 'fifth_section_body_second_1' 'fifth_section_body_second_2' 'fifth_section_body_second_3' 'fifth_section_body_second_4';
    gap: 30px;
}

.fifth_section_body_second_1 {
    @apply lg:justify-self-end;
    grid-area: fifth_section_body_second_1;
}
.fifth_section_body_second_1--animation {
    @apply max-h-[150px];
}
.fifth_section_body_second_1--animation:hover {
    animation: bounce2 1s infinite;
}
@keyframes bounce2 {
    50% {
        transform: translateY(-25%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    0%,
    100% {
        transform: translateY(0);
        animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}

.fifth_section_body_second_2 {
    grid-area: fifth_section_body_second_2;
}
.fifth_section_body_second_3 {
    grid-area: fifth_section_body_second_3;
}
.fifth_section_body_second_4 {
    grid-area: fifth_section_body_second_4;
}

.contact_item {
    @apply flex flex-col gap-[10px];
}
.contact_info {
    @apply flex flex-col gap-[30px]
    sm:justify-self-start;
}

.contact_info_body {
    @apply flex flex-col gap-[14px];
}
.contact_info_body__text {
    @apply relative inline-block uppercase not-italic text-sm font-normal font-mabryPro text-primary-300
    cursor-pointer;
}

.contact_info_body__text--hover:hover {
    @apply underline underline-offset-1;
}

.contact_locate {
    @apply sm:justify-self-end;
}

.contact_locate_map {
    @apply relative;
}
.contact_locate_map::after {
    @apply content-[""] w-full border-2 border-quinary-100 rounded-lg;
    position: absolute;
    height: calc(100% + 6px);
    top: calc(50% + 6px);
    left: 50%;
    transform: rotate(2deg) translate(-50%, -50%);
}

.contact_locate_map__img {
    @apply rounded-lg relative z-[1] transition-all;
    height: 218px;
    width: 100%;
    max-height: 218px;
    max-width: 300px;
    object-fit: cover;
}
.contact_locate_map__img:hover {
    @apply scale-125;
}

/* flatpickr-calendar */
/* Select === months */
.flatpickr-calendar .flatpickr-monthDropdown-months {
    @apply hover:bg-quinary-100 hover:text-primary-300;
}
.flatpickr-calendar .numInputWrapper, .flatpickr-calendar .numInput, .flatpickr-calendar .flatpickr-am-pm {
    @apply hover:bg-quinary-100 hover:text-primary-300
    focus:bg-quinary-100 focus:text-primary-300;
}

/* Cells day */
.flatpickr-calendar .flatpickr-day.today {
    @apply border-primary-100
}

.flatpickr-calendar .flatpickr-day {
    @apply hover:bg-quinary-100 hover:text-primary-300
}

.flatpickr-calendar .flatpickr-day.selected {
    @apply bg-primary-100 border-primary-100
    hover:text-[white];
}
.flatpickr-calendar .flatpickr-prev-month:hover svg, .flatpickr-calendar .flatpickr-next-month:hover svg {
    @apply fill-primary-100;
}

/* Buttons arrow */
.flatpickr-calendar span[class='arrowUp'], .flatpickr-calendar span[class='arrowDown'] {
    opacity: 1;
}

.flatpickr-calendar .flatpickr-time .numInputWrapper .arrowUp, .flatpickr-calendar .flatpickr-time .numInputWrapper .arrowDown {
    width: 20px;
    padding: 0px;
}
.flatpickr-calendar .flatpickr-time .numInputWrapper .arrowUp::after, .flatpickr-calendar .flatpickr-time .numInputWrapper .arrowDown::after {
    right: 50%;
    transform: translateX(50%);
}


@media (min-width: 640px) {
    .fifth_section_body_second {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr auto;
        grid-template-areas: 'fifth_section_body_second_1 fifth_section_body_second_1' 'fifth_section_body_second_2 fifth_section_body_second_4' 'fifth_section_body_second_3 fifth_section_body_second_3';
    }
}

@media (min-width: 1024px) {
    .fifth_section_body_second {
        width: 50%;
        grid-template-columns: 33% 66%;
        grid-template-rows: repeat(3, 'auto');
        grid-template-areas: 'fifth_section_body_second_1 fifth_section_body_second_1' 'fifth_section_body_second_2 fifth_section_body_second_4' 'fifth_section_body_second_3 fifth_section_body_second_3';
    }
}

@media (min-width: 1200px) {
    .fifth_section_body_second {
        grid-template-columns: 1fr 1fr;
    }
}
