<section class='second_section'>
    <div class='wrapper wrapper--padding-y second_section_wrapper'>
        <p class='second_section__text'>
            Мене звуть
            <span class='text-secondary'>Борис</span>, я дипломований спеціаліст
            — “Школи юмейхо-терапії Юрія Пасечника”. Досвід професійної роботи у
            цій галузі –
            <span class='text-secondary'>5 років</span>
        </p>
        {{> '../slider/index.handlebars'}}
    </div>
</section>