:root {
    --first_section_padding_bottom: 20px;
}

.first_section {
    @apply flex;
    padding-bottom: var(--first_section_padding_bottom);
}

.first_section_wrapper {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
}

.first_section_title_decorative {
    @apply sm:ml-[25%] xl:ml-0 text-2xl md:text-3xl xl:text-4xl font-light font-mabryPro text-secondary;
}

.first_section__title {
    @apply relative z-[1] text-[40px] leading-[112%] font-playfairDisplay text-primary-100 text-center 
    md:text-[60px] 
    xl:text-[84px]
    xl:text-left;
}

.first_section__title:after {
    @apply content-[""] h-[60px] w-[60px] bg-secondary absolute top-0 left-1/2 translate-y-[-25%] translate-x-10 rounded-full opacity-50 z-[-1]
    md:h-[100px] md:w-[100px] 
    xl:left-[220px] xl:translate-y-[-10%];
}

.first_section__title_second {
    @apply text-4xl 
    md:text-[58px] 
    xl:text-[80px];
}

.first_section__card {
    @apply relative justify-self-center min-h-[200px] max-h-[420px] bg-quinary-100 rounded-xl
    xl:max-h-[600px];
    transform: rotate(-5deg) translateX(-3%);
    transition: background-color 1s;
}
.first_section__card:hover {
    @apply bg-tertiary-200;
}
.first_section__card:hover .first_section__card_second {
    @apply bg-quinary-100;
}
.first_section__card:hover .first_section_text_card_wrapper {
    transform: translateY(-50%);
}
.first_section__card:hover .first_section__cycle:before {
    max-height: 110px;
    max-width: 110px;
    height: 100%;
    width: 100%;
}

.first_section__card_second {
    @apply relative min-h-[200px] max-h-[420px] justify-self-center pt-2.5 bg-tertiary-200 rounded-xl
    xl:p-0 xl:pt-[30px] xl:px-[30px] xl:max-h-[600px];
    overflow: hidden;
    height: 100%;
    transform: rotate(5deg) translateX(3%);
    transition: background-color 1s;
}
.first_section__cycle:before {
    @apply content-[""] absolute left-[50%] top-1/2 translate-y-[-80%] max-w-[100px] max-h-[100px] h-[30%] w-[30%] bg-secondary rounded-full opacity-70 z-[-1];
    transition: all 1s;
}

.first_section_title_card {
    @apply relative overflow-hidden text-center h-[1.4em] text-[32px] font-normal font-playfairDisplay text-quaternary
    lg:text-[40px];
}

.first_section__title_card {
}
.first_section_text_card_wrapper {
    position: absolute;
    width: 100%;
    transition: transform 1s;
}
.first_section__decorative_title_card {
    @apply text-[32px];
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.first_section_text_card {
    @apply text-center text-base font-light font-mabryPro text-quaternary
    md:text-xl;
    position: relative;
    height: 1.4em;
    overflow: hidden;
}

.first_section__text {
    @apply justify-self-center text-sm font-normal font-mabryPro text-quaternary-400
    md:text-lg;
}

.first_section_button {
    padding: 22px 76px;
}

@media (min-width: 430px) {
    .first_section__card:hover .first_section__cycle:before {
        max-height: 160px;
        max-width: 160px;
    }
}

@media (orientation: portrait) and (max-width: 420px),
    (orientation: landscape) and (max-height: 420px) {
    .first_section__title_card {
        @apply text-[26px];
    }
    .first_section__decorative_title_card {
        @apply text-[22px];
    }
}

@media (min-width: 374px) and (max-width: 639px) and (max-height: 770px) {
    .first_section_wrapper {
        grid-template-rows: repeat(2, auto) minmax(200px, 40vh) repeat(2, auto);
        gap: 10px;
    }
    .first_section__cycle:before {
        @apply h-[20vw] w-[20vw];
    }
}
@media (min-width: 374px) and (max-width: 639px) and (max-height: 810px) {
    .first_section_wrapper {
        gap: 10px;
    }
}

@media (min-width: 639px) and (max-width: 1280px) and (max-height: 750px) {
    .first_section__title {
        @apply text-[50px];
    }
    .first_section__title_second {
        @apply text-[48px];
    }
    .first_section_wrapper {
        grid-template-rows: repeat(2, auto) 36vh repeat(2, auto);
        gap: 10px;
    }
}

@media (min-width: 1280px) and (min-height: 640px) {
    .first_section__cycle:before {
        max-height: 150px;
        max-width: 150px;
    }
    .first_section__card:hover .first_section__cycle:before {
        max-height: 200px;
        max-width: 200px;
    }
}

@media (min-width: 639px) and (max-width: 1280px) and (max-height: 860px) {
    .first_section_wrapper {
        grid-template-rows: repeat(2, auto) 40vh repeat(2, auto);
    }
}

@media (orientation: landscape) and (max-height: 350px) {
    .first_section_title_card {
        line-height: 1.2em;
    }
    .first_section__title_card {
        font-size: 20px !important;
    }
    .first_section__decorative_title_card {
        font-size: 20px !important;
    }
    .first_section_text_card {
        font-size: 16px;
    }
}

@media (min-width: 1280px), (orientation: landscape) {
    /* , === or */
    .first_section_wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'first_section_title_decorative first_section_card'
            'first_section_title first_section_card'
            'first_section_text first_section_card'
            'first_section_button first_section_card';
        align-content: center;
    }

    .first_section_title_decorative {
        grid-area: first_section_title_decorative;
    }

    .first_section__title {
        grid-area: first_section_title;
    }

    .first_section__card {
        justify-self: end !important;
        grid-area: first_section_card;
    }
    .first_section__text {
        grid-area: first_section_text;
        justify-self: start;
    }
    .first_section_button {
        grid-area: first_section_button;
        justify-self: start !important;
    }
}

@media (orientation: landscape) and (max-height: 350px) {
    .first_section__title_card {
        @apply text-[26px];
    }
    .first_section__text {
        @apply text-sm;
    }
}
@media (orientation: landscape) and (max-height: 400px) {
    .first_section__cycle:before {
        @apply h-[30vh] w-[30vh] min-h-[80px] min-w-[80px];
    }
}

@media (orientation: landscape) and (max-height: 640px) {
    .first_section_wrapper {
        gap: 5px;
    }
    .first_section_title_decorative {
        @apply text-xl;
        margin: 0 !important;
    }
    .first_section__title {
        @apply text-[28px];
    }
    .first_section__title_second {
        @apply text-left text-[26px];
    }
    .first_section__card {
        height: calc(100vh - var(--height_header) - 20px);
    }
    .first_section_button {
        padding: 16px 24px;
    }
}

@media (orientation: landscape) and (max-height: 1280px) and (max-width: 1280px) {
    .first_section_title_decorative {
        margin: 0px;
    }
    .first_section__title {
        text-align: left;
    }
    .first_section__title:after {
        left: 2em;
        transform: translate(0%, -25%);
    }
}

@media (min-width: 1280px) and (min-height: 700px) {
    .first_section__card {
        height: 470px;
    }
}
@media (min-width: 1280px) and (min-height: 800px) {
    .first_section__card {
        height: 550px;
    }
}

@media (max-height: 1280px) {
    .first_section__card {
        margin-left: 20px;
        margin-right: 20px;
    }
}
