<section class='first_section block--normalize_height_relative_to_header'>
    <div class='wrapper first_section_wrapper min-h-full'>
        <p class='first_section_title_decorative'>
            湧命法
        </p>
        <h1 class='first_section__title'>
            Японська
            <br>
            <span class='first_section__title_second'>масажна терапія</span>
        </h1>
        <div id='photo_master' class='card first_section__card'>
            <div class='first_section__card_second first_section__cycle'>
                <img class='object-cover h-full' src='assets/photo_master.png' alt='Фото майстра, Борис Бортников'>
                <div class='w-full absolute bottom-2.5 left-1/2 translate-x-[-50%]'>
                    <div class='first_section_title_card'>
                        <div class='first_section_text_card_wrapper'>
                            <h2 class='first_section__title_card'>
                                Борис Бортников
                            </h2>
                            <h2 title='ボリス・ボルトニコフ' class='first_section__decorative_title_card' aria-hidden='true'>
                                ボリス・ボルトニコフ
                            </h2>
                        </div>
                    </div>
                    <div class='first_section_text_card'>
                        <div class='first_section_text_card_wrapper'>
                            <h3>Юмейхо-терапевт</h3>
                            <h3 aria-hidden='true'>湧命法-セラピスト</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <p class='first_section__text'>
            Для реабілітації та відновлення здоров'я хребта, суглобів та м'язів,
            поліпшення загального стану
        </p>
        <a href='' class='button button_scroll first_section_button justify-self-center'>
            <span class='button__text invisible'>
                Записатись
            </span>
            <div class='button_scroll_wrapper'>
                <div class='button_scroll_text'>
                    <span class='button__text' aria-hidden='true'>
                        Записатись
                    </span>
                    <span class='button__text' aria-hidden='true'>
                        Записатись
                    </span>
                </div>
            </div>
        </a>
    </div>
</section>