<section class="fourth_section block--full_screen wrapper--padding-y relative" id="anchor_fourth_section">
    <div class="fourth_section_wrapper wrapper">
        <h4 class="block__title self-start">
            <span class="lng_fourth_section_title">
                Скільки це коштує
            </span>
            <span class="text-secondary">?</span>
        </h4>
        <div class="fourth_section_cards">
            <div class="fourth_section_card">
                <div class="inline-block">
                    <div class="flex gap-2.5 flex-wrap max-lg:justify-center">
                        <div class="fourth_section_card__circle"></div>
                        <h5 class="lng_fourth_section_title_card_1 fourth_section_card__title">
                            Півгодинний масаж
                        </h5>
                    </div>
                </div>
                <div class="fourth_section_card_body">
                    <h6 class="lng_fourth_section_common_text fourth_section_card__text text-quaternary-400">
                        До сеансу входить:
                    </h6>
                    <ul class="fourth_section_card_list list">
                        <li
                            class="lng_fourth_section_text_1_card_1 fourth_section_card_list__item fourth_section_card__text">
                            Діагностика порушень опорно-рухової системи
                        </li>
                        <li
                            class="lng_fourth_section_text_2_card_1 fourth_section_card_list__item fourth_section_card__text">
                            Масаж глибоких тканин
                        </li>
                        <li
                            class="lng_fourth_section_text_3_card_1 fourth_section_card_list__item fourth_section_card__text">
                            Маніпуляції для корекції положення хребта та тазу
                        </li>
                    </ul>
                </div>
                <div class="fourth_section_card_footer">
                    <span class="fourth_section_card_footer__currency">₴</span>
                    <span class="fourth_section_card_footer__number">700</span>
                </div>
            </div>
            <div class="fourth_section_card fourth_section_second_card">
                <div class="inline-block z-[1]">
                    <div class="flex gap-2.5 flex-wrap max-lg:justify-center">
                        <div class="fourth_section_card__circle fourth_section_card__circle--full"></div>
                        <h5 class="lng_fourth_section_title_card_2 fourth_section_card__title">
                            Годиний масаж
                        </h5>
                    </div>
                </div>
                <div class="fourth_section_card_body z-[1]">
                    <h6 class="lng_fourth_section_common_text fourth_section_card__text text-quaternary-400">
                        До сеансу входить:
                    </h6>
                    <ul class="fourth_section_card_list list">
                        <li
                            class="lng_fourth_section_text_1_card_2 fourth_section_card_list__item fourth_section_card__text">
                            Діагностика порушень опорно-рухової системи
                        </li>
                        <li
                            class="lng_fourth_section_text_2_card_2 fourth_section_card_list__item fourth_section_card__text">
                            Масаж глибоких тканин
                        </li>
                        <li
                            class="lng_fourth_section_text_3_card_2 fourth_section_card_list__item fourth_section_card__text">
                            Маніпуляції для корекції положення хребта та тазу
                        </li>
                        <li
                            class="lng_fourth_section_text_4_card_2 fourth_section_card_list__item fourth_section_card__text">
                            Масаж нижніх кінцівок (ноги і стопи)
                        </li>
                        <li
                            class="lng_fourth_section_text_5_card_2 fourth_section_card_list__item fourth_section_card__text">
                            Можливі варіанти
                        </li>
                    </ul>
                </div>
                <div class="fourth_section_card_footer z-[1]">
                    <span class="fourth_section_card_footer__currency">₴</span>
                    <span class="fourth_section_card_footer__number">1200</span>
                </div>
            </div>
        </div>
    </div>
</section>