.button {
    padding: 20px 30px;
    @apply m-0 bg-quinary-100 rounded-xl self-center;
}

.button__text {
    @apply uppercase text-xs text-primary-100 font-medium;
}

.button:hover,
button:focus-visible {
    @apply bg-quinary-200;
}
.button:hover .button__text,
button:focus-visible .button__text {
    @apply text-xs text-primary-300;
}

.button:active {
    @apply opacity-75;
}

.button_scroll {
    @apply relative overflow-hidden text-center;
}

.button_scroll_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -18%);
    width: 100%;
}

.button_scroll_text {
    display: flex;
    flex-direction: column;
    gap: 26px;
    transition: transform 0.3s;
}
.button_scroll:hover .button_scroll_text {
    transform: translateY(-70%);
}
