<section class='second_section'>
    {{> '../../components/anchor/index' id='second_section'}}
    <div class='wrapper wrapper--padding-y wrapper--padding-top second_section_wrapper'>
        <h4 class='second_section__primary_text'>
            <span class="lng_second_section_title_1">
                Мене звуть
            </span>
            <span class='lng_second_section_title_2 text-secondary'>Борис</span>
            <span class="lng_second_section_title_3">
                , я дипломований спеціаліст — “Школи юмейхо-терапії Юрія Пасечника”. Досвід професійної роботи у цій
                галузі –
            </span>
            <span class='lng_second_section_title_4 text-secondary'>5 років</span>
        </h4>
        <div class="second_section_block_content">
            {{> '../../components/slider/index'}}
            <div class="flex flex-col gap-3 lg:gap-[26px]">
                <p class="lng_second_section_text_1 second_section__secondary_text">
                    Юмейхо прийшов до нас із Японії. Це особливий масаж глибоких тканин, а за потреби – з маніпуляцією
                    суглобів для корекції хребта і тазу. Спеціальна техніка Юмейхо спрямована на:
                </p>
                <ul class="second_section_list list">
                    <li class="lng_second_section_list_item_1 second_section_list__item">
                        Покращення роботи центральної та вегетативної нервових систем
                    </li>
                    <li class="lng_second_section_list_item_2 second_section_list__item">
                        Поліпшення циркуляції крові
                    </li>
                    <li class="lng_second_section_list_item_3 second_section_list__item">
                        А також має загальнооздоровчий характер
                    </li>
                </ul>
                <p class="lng_second_section_text_2 second_section__secondary_text">
                    Як результат – зняття болю, покращення рухливості суглобів та постави, зниження напруженості м'язів.
                    Можна відзначити багато інших приємних ефектів.
                </p>
                <p class="lng_second_section_text_3 second_section__secondary_text">
                    Масаж виконується на спеціальному столі, спина масажується з використанням лікувальних олій та
                    кремів,
                    масаж кінцівок – через одяг.
                </p>
            </div>
        </div>
    </div>
</section>