<section class="third_section wrapper--padding-y">
    <div class="third_section_wrapper">
        <div class="wrapper">
            <div class="third_section_body">
                <h3 class="third_section_body__item">
                    <span
                        class="third_section_body__title third_section_body__title--circle md:before:translate-x-[-30%] md:before:translate-y-[-50%]">3</span>
                    <span class="third_section_body__text">Сеанси результат</span>
                </h3>
                <h3 class="third_section_body__item">
                    <span
                        class="third_section_body__title third_section_body__title--circle md:before:h-[80px] md:before:w-[80px] md:before:translate-x-[-12%] md:before:translate-y-[-50%]">1000+</span>
                    <span class="third_section_body__text">Задоволених клієнтів</span>
                </h3>
                <h3 class="third_section_body__item">
                    <span
                        class="third_section_body__title third_section_body__title--circle md:before:translate-x-[-70%] md:before:translate-y-[-50%]">5</span>
                    <span class="third_section_body__text">Років досвіду</span>
                </h3>
            </div>
        </div>
    </div>
</section>