<div class="show_button_if_bug">
    <div class="wrapper">
        <div class="show_button_if_bug_wrapper">
            <h1 class="lng_show_button_if_bug_title show_button_if_bug__title">
                Почніть ваш перегляд коректно
            </h1>
            <button class='button button_scroll'>
                <span class='lng_show_button_if_bug_button button__text invisible'>
                    Почати
                </span>
                <div class='button_scroll_wrapper'>
                    <span class='button_scroll_text'>
                        <span class='lng_show_button_if_bug_button button__text' aria-hidden='true'>
                            Почати
                        </span>
                        <span class='lng_show_button_if_bug_button button__text' aria-hidden='true'>
                            Почати
                        </span>
                    </span>
                </div>
            </button>
        </div>
    </div>
</div>