.show_button_if_bug {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    background-color: white;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

.show_button_if_bug_wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.show_button_if_bug__title {
    @apply mb-[10px] text-[30px] font-playfairDisplay text-primary-100;
}
