<!DOCTYPE html>
<html lang="uk">

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description"
        content="Массажист с опытом работы, лечебный массаж, Киев. Masseur with experience, therapeutic massage, Kyiv.">
    <meta name=”robots” content="index, follow">
    <link rel="alternate" hreflang="uk" href="/" />
    <link rel="alternate" hreflang="ru" href="/ru" />
    <link rel="alternate" hreflang="en" href="/en" />
    <title>
        {{htmlWebpackPlugin.options.title}}
    </title>
</head>

<body>
    {{> './components/header/index'}}
    <main>
        {{> './sections/first/index'}}
        {{> './sections/second/index'}}
        {{> './sections/third/index'}}
        {{> './sections/fourth/index'}}
        {{> './sections/fifth/index'}}
    </main>
    <footer>
        footer
    </footer>
</body>

</html>