/* Fonts */
@import './assets/fonts.css';

/* Elements */
@import './elements/button/index.css';
@import './elements/burgerMenu/index.css';

/* Containers */
@import './containers/wrapper.css';

/* Components */
@import './components/nav/index.css';
@import './components/header/index.css';
@import './components/slider/index.css';
@import './components/input/index.css';
@import './components/anchor/index.css';

/* Sections */
@import './sections/first/index.css';
@import './sections/second/index.css';
@import './sections/third/index.css';
@import './sections/fourth/index.css';
@import './sections/fifth/index.css';

/* Common styles */
@import './commonStyles/block/__title/block__title.css';
@import './commonStyles/block/--block/block--block.css';
@import './commonStyles/list/list.css';

@tailwind base;
@tailwind components;
@tailwind utilities; /* todo warn in terminal!!! */

* {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(
        180deg,
        theme('colors.tertiary.100') 9.38%,
        #ffffff 34.38%
    );
}

.block--hover {
    @apply hover:opacity-70 focus-visible:opacity-80 active:opacity-50 cursor-pointer;
}

.block--normalize_height_relative_to_header {
    min-height: calc(100vh - var(--height_header));
}

@media (min-width: 768px) {
    .block--normalize_height_relative_to_header {
        min-height: calc(100vh - var(--height_header_lg));
    }
}
