/* Fonts */
@import './assets/fonts.css';

/* Elements */
@import './elements/button/index.css';
@import './elements/burgerMenu/index.css';

/* Containers */
@import './containers/wrapper.css';

/* Components */
@import './components/nav/index.css';
@import './components/header/index.css';
@import './components/firstSection/index.css';
@import './components/secondSection/index.css';
@import './components/slider/index.css';

/* Common styles */
@import './commonStyles/block/--block/index.css';

@tailwind base;
@tailwind components;
@tailwind utilities; /* todo warn in terminal!!! */

body {
    /* background: linear-gradient(180deg, theme('colors.tertiary.100') 9.38%, theme('colors.quaternary.100') 34.38%); */
    background: linear-gradient(180deg, #f1fafd 9.38%, #ffffff 34.38%);
}

.block--hover {
    @apply hover:opacity-70 focus-visible:opacity-80 active:opacity-50 cursor-pointer;
}

.block--normalize_height_relative_to_header {
    min-height: calc(100vh - var(--height_header));
}

@media (min-width: 768px) {
    .block--normalize_height_relative_to_header {
        min-height: calc(100vh - var(--height_header_lg));
    }
}
