<nav class="nav {{class}}">
    <ul class="nav__list">
        <li class="nav__item">
            <a href="" class="nav__text nav__text--hover">
                Про мене
            </a>
        </li>
        <li class="nav__item">
            <a href="" class="nav__text nav__text--hover">
                Ціни
            </a>
        </li>
        <li class="nav__item">
            <a href="" class="nav__text nav__text--hover">
                Контакти
            </a>
        </li>
        <li class="nav__item nav__item--only_desktop">
            {{!-- todo this select ??????? --}}
            <details class="nav_select relative">
                <summary class="nav_select__summary">
                    <span class="nav_select__active_value">
                        UA
                    </span>
                    <svg id="select_arrow" width="10" height="6" viewBox="0 0 10 6" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M4.99964 5.56259C4.9163 5.56259 4.83991 5.5487 4.77047 5.52092C4.70103 5.49314 4.63158 5.44453 4.56214 5.37509L0.437136 1.25009C0.326025 1.13898 0.273942 0.989672 0.280886 0.802172C0.287831 0.614672 0.346858 0.465366 0.45797 0.354255C0.596859 0.215366 0.746164 0.156338 0.905886 0.177172C1.06561 0.198005 1.20797 0.263978 1.33297 0.375089L4.99964 4.04175L8.6663 0.375089C8.77741 0.263978 8.92672 0.201477 9.11422 0.187588C9.30172 0.173699 9.45103 0.2362 9.56214 0.375089C9.70103 0.4862 9.76005 0.632033 9.73922 0.812588C9.71839 0.993144 9.65242 1.14592 9.5413 1.27092L5.43714 5.37509C5.36769 5.44453 5.29825 5.49314 5.2288 5.52092C5.15936 5.5487 5.08297 5.56259 4.99964 5.56259Z"
                            fill="#000000" />
                    </svg>
                </summary>
                <div class="nav_select__body">
                    <a class="nav_select__item nav_select__item--hover nav_select__item--active"
                        href="http://localhost:3000/">UA</a>
                    <a class="nav_select__item nav_select__item--hover" href="http://localhost:3000/">EN</a>
                    <a class="nav_select__item nav_select__item--hover" href="http://localhost:3000/">RU</a>
                </div>
            </details>
            {{!-- <select class="nav_select" name="lng" id="">
                <option class="nav_select__item" value="ua">UA</option>
                <option class="nav_select__item" value="en">EN</option>
                <option class="nav_select__item" value="ru">RU</option>
            </select> --}}
        </li>
    </ul>
</nav>