<div class='slider'>
    <div class='flex flex-col gap-4'>
        <div class='flex relative'>
            <div class='slider_card'>
                <div class="slider__second_img">
                    <img class='slider__first_img' src='./assets/primary_image_of_slider.jpg' alt='фото' />
                </div>
            </div>
        </div>
        <div>
            <button class='slider_button'>
                <span class='slider_button__text'>
                    <span id='current_slide'>
                        01
                    </span>
                    /
                    <span id='slide_length'>
                        04
                    </span>
                </span>
                <span class='slider_button__arrow'>
                    <svg width='57' height='25' viewBox='0 0 57 25' fill='none' xmlns='http://www.w3.org/2000/svg'>
                        <mask id='path-1-outside-1_937_410' maskUnits='userSpaceOnUse' x='47.0002' y='-0.500001'
                            width='10' class='slider_button__arrow--color' height='26'>
                            <rect fill='white' x='47.0002' y='-0.500001' width='10' height='26'></rect>
                            <path
                                d='M53.8385 11.9407C53.9185 11.9407 53.9185 12.065 53.9986 12.065L53.9986 12.935C53.9185 12.935 53.9185 13.0593 53.8385 13.0593C52.9577 13.6808 51.8368 14.7994 50.9561 16.1667C50.7159 16.5396 50.5557 16.9124 50.3155 17.2853C50.0754 17.6582 49.9152 18.031 49.7551 18.4039L49.7551 18.404C49.5149 18.7768 49.4348 19.1497 49.2747 19.5226C49.1145 19.8955 48.9544 20.2684 48.8743 20.6413C48.7943 21.0141 48.7142 21.387 48.6341 21.6356C48.5541 21.8842 48.5541 22.1328 48.474 22.3814C48.3939 22.7542 48.3139 23.0028 48.3139 23.0028C48.3139 23.0028 48.6341 23.0028 48.8743 23.1271C49.1145 23.2514 49.4348 23.5 49.4348 23.5C49.4348 23.5 49.4348 23.2514 49.5149 22.8785C49.5149 22.6299 49.5149 22.3814 49.5949 22.1328C49.5949 21.8842 49.675 21.6356 49.7551 21.2627C49.8351 21.0141 49.8351 20.6413 49.9953 20.2684C50.1554 19.8955 50.2355 19.5226 50.3956 19.1497L50.876 18.0311C51.0361 17.6582 51.1963 17.2853 51.4365 16.9124C52.3172 15.5452 53.278 14.4266 54.0786 13.8051C54.479 13.4322 55.0394 13.0593 55.0394 13.0593L56.0002 12.5622L55.1195 11.9407C55.1195 11.9407 54.479 11.5678 54.0786 11.1949C53.1979 10.5735 52.2371 9.45481 51.4365 8.08758C51.1963 7.71469 51.0361 7.34182 50.876 6.96894L50.3956 5.85028L50.3956 5.85024C50.2355 5.47737 50.0753 5.10451 49.9953 4.73165C49.9152 4.35876 49.8351 4.11017 49.7551 3.73729C49.7551 3.4887 49.5949 3.11583 49.5949 2.86724C49.5949 2.49436 49.5149 2.37006 49.5149 2.12147C49.4348 1.74859 49.4348 1.5 49.4348 1.5C49.4348 1.5 49.1145 1.74859 48.8743 1.87288C48.6341 1.99718 48.3139 1.99719 48.3139 1.99719C48.3139 1.99719 48.3939 2.24577 48.474 2.61866C48.474 2.86723 48.5541 3.1158 48.6341 3.36437L48.6341 3.36441C48.6341 3.73729 48.7943 3.98588 48.8743 4.35876C49.0345 4.73164 49.1145 5.10452 49.2747 5.4774L49.7551 6.59605C49.9152 6.96893 50.0753 7.34181 50.3155 7.71469C50.4757 8.08757 50.7159 8.46046 50.9561 8.83335C51.9169 10.2006 52.9577 11.3192 53.8385 11.9407Z'>
                            </path>
                        </mask>
                        <path
                            d='M53.8385 11.9407C53.9185 11.9407 53.9185 12.065 53.9986 12.065L53.9986 12.935C53.9185 12.935 53.9185 13.0593 53.8385 13.0593C52.9577 13.6808 51.8368 14.7994 50.9561 16.1667C50.7159 16.5396 50.5557 16.9124 50.3155 17.2853C50.0754 17.6582 49.9152 18.031 49.7551 18.4039L49.7551 18.404C49.5149 18.7768 49.4348 19.1497 49.2747 19.5226C49.1145 19.8955 48.9544 20.2684 48.8743 20.6413C48.7943 21.0141 48.7142 21.387 48.6341 21.6356C48.5541 21.8842 48.5541 22.1328 48.474 22.3814C48.3939 22.7542 48.3139 23.0028 48.3139 23.0028C48.3139 23.0028 48.6341 23.0028 48.8743 23.1271C49.1145 23.2514 49.4348 23.5 49.4348 23.5C49.4348 23.5 49.4348 23.2514 49.5149 22.8785C49.5149 22.6299 49.5149 22.3814 49.5949 22.1328C49.5949 21.8842 49.675 21.6356 49.7551 21.2627C49.8351 21.0141 49.8351 20.6413 49.9953 20.2684C50.1554 19.8955 50.2355 19.5226 50.3956 19.1497L50.876 18.0311C51.0361 17.6582 51.1963 17.2853 51.4365 16.9124C52.3172 15.5452 53.278 14.4266 54.0786 13.8051C54.479 13.4322 55.0394 13.0593 55.0394 13.0593L56.0002 12.5622L55.1195 11.9407C55.1195 11.9407 54.479 11.5678 54.0786 11.1949C53.1979 10.5735 52.2371 9.45481 51.4365 8.08758C51.1963 7.71469 51.0361 7.34182 50.876 6.96894L50.3956 5.85028L50.3956 5.85024C50.2355 5.47737 50.0753 5.10451 49.9953 4.73165C49.9152 4.35876 49.8351 4.11017 49.7551 3.73729C49.7551 3.4887 49.5949 3.11583 49.5949 2.86724C49.5949 2.49436 49.5149 2.37006 49.5149 2.12147C49.4348 1.74859 49.4348 1.5 49.4348 1.5C49.4348 1.5 49.1145 1.74859 48.8743 1.87288C48.6341 1.99718 48.3139 1.99719 48.3139 1.99719C48.3139 1.99719 48.3939 2.24577 48.474 2.61866C48.474 2.86723 48.5541 3.1158 48.6341 3.36437L48.6341 3.36441C48.6341 3.73729 48.7943 3.98588 48.8743 4.35876C49.0345 4.73164 49.1145 5.10452 49.2747 5.4774L49.7551 6.59605C49.9152 6.96893 50.0753 7.34181 50.3155 7.71469C50.4757 8.08757 50.7159 8.46046 50.9561 8.83335C51.9169 10.2006 52.9577 11.3192 53.8385 11.9407Z'
                            class='slider_button__arrow--color'></path>
                        <path class='slider_button__arrow--color'
                            d='M53.8385 11.9407C53.9185 11.9407 53.9185 12.065 53.9986 12.065L53.9986 12.935C53.9185 12.935 53.9185 13.0593 53.8385 13.0593C52.9577 13.6808 51.8368 14.7994 50.9561 16.1667C50.7159 16.5396 50.5557 16.9124 50.3155 17.2853C50.0754 17.6582 49.9152 18.031 49.7551 18.4039L49.7551 18.404C49.5149 18.7768 49.4348 19.1497 49.2747 19.5226C49.1145 19.8955 48.9544 20.2684 48.8743 20.6413C48.7943 21.0141 48.7142 21.387 48.6341 21.6356C48.5541 21.8842 48.5541 22.1328 48.474 22.3814C48.3939 22.7542 48.3139 23.0028 48.3139 23.0028C48.3139 23.0028 48.6341 23.0028 48.8743 23.1271C49.1145 23.2514 49.4348 23.5 49.4348 23.5C49.4348 23.5 49.4348 23.2514 49.5149 22.8785C49.5149 22.6299 49.5149 22.3814 49.5949 22.1328C49.5949 21.8842 49.675 21.6356 49.7551 21.2627C49.8351 21.0141 49.8351 20.6413 49.9953 20.2684C50.1554 19.8955 50.2355 19.5226 50.3956 19.1497L50.876 18.0311C51.0361 17.6582 51.1963 17.2853 51.4365 16.9124C52.3172 15.5452 53.278 14.4266 54.0786 13.8051C54.479 13.4322 55.0394 13.0593 55.0394 13.0593L56.0002 12.5622L55.1195 11.9407C55.1195 11.9407 54.479 11.5678 54.0786 11.1949C53.1979 10.5735 52.2371 9.45481 51.4365 8.08758C51.1963 7.71469 51.0361 7.34182 50.876 6.96894L50.3956 5.85028L50.3956 5.85024C50.2355 5.47737 50.0753 5.10451 49.9953 4.73165C49.9152 4.35876 49.8351 4.11017 49.7551 3.73729C49.7551 3.4887 49.5949 3.11583 49.5949 2.86724C49.5949 2.49436 49.5149 2.37006 49.5149 2.12147C49.4348 1.74859 49.4348 1.5 49.4348 1.5C49.4348 1.5 49.1145 1.74859 48.8743 1.87288C48.6341 1.99718 48.3139 1.99719 48.3139 1.99719C48.3139 1.99719 48.3939 2.24577 48.474 2.61866C48.474 2.86723 48.5541 3.1158 48.6341 3.36437L48.6341 3.36441C48.6341 3.73729 48.7943 3.98588 48.8743 4.35876C49.0345 4.73164 49.1145 5.10452 49.2747 5.4774L49.7551 6.59605C49.9152 6.96893 50.0753 7.34181 50.3155 7.71469C50.4757 8.08757 50.7159 8.46046 50.9561 8.83335C51.9169 10.2006 52.9577 11.3192 53.8385 11.9407Z'
                            mask='url(#path-1-outside-1_937_410)'></path>
                        <rect x='0.275' y='12.2242' width='54.3527' height='0.55' class='slider_button__arrow--color'
                            stroke-width='0.55'></rect>
                    </svg>

                </span>
            </button>
        </div>
    </div>
    <div id="view_slide">
        <img class="view_slide__img" src="./assets/primary_image_of_slider.jpg" alt="Фото, на яке ви натиснули">
        <svg class="view_slide__button_close" fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"
            width="30px" height="30px">
            <path
                d="M 7 4 C 6.744125 4 6.4879687 4.0974687 6.2929688 4.2929688 L 4.2929688 6.2929688 C 3.9019687 6.6839688 3.9019687 7.3170313 4.2929688 7.7070312 L 11.585938 15 L 4.2929688 22.292969 C 3.9019687 22.683969 3.9019687 23.317031 4.2929688 23.707031 L 6.2929688 25.707031 C 6.6839688 26.098031 7.3170313 26.098031 7.7070312 25.707031 L 15 18.414062 L 22.292969 25.707031 C 22.682969 26.098031 23.317031 26.098031 23.707031 25.707031 L 25.707031 23.707031 C 26.098031 23.316031 26.098031 22.682969 25.707031 22.292969 L 18.414062 15 L 25.707031 7.7070312 C 26.098031 7.3170312 26.098031 6.6829688 25.707031 6.2929688 L 23.707031 4.2929688 C 23.316031 3.9019687 22.682969 3.9019687 22.292969 4.2929688 L 15 11.585938 L 7.7070312 4.2929688 C 7.5115312 4.0974687 7.255875 4 7 4 z">
            </path>
        </svg>
    </div>
</div>