<div class='slider'>
    <div class='flex flex-col gap-4'>
        <div class='flex'>
            <div class='slider_first_card'>
                <div class='slider_second_card'>
                    <img
                        class='slider__img'
                        src='./assets/primary_image_of_slider.jpg'
                        alt='фото'
                    />
                </div>
            </div>
        </div>
        <div>
            <button class='slider_button'>
                <span class='slider_button__text'>01/04</span>
                <span class='slider_button__arrow'>arrow</span>
            </button>
        </div>
    </div>
</div>