.slider {
    margin-left: auto;
    margin-right: auto;
}

.slider_card {
    @apply rounded-xl;
    z-index: 0;
    transform: rotate(0deg);
}

.slider_card::before {
    @apply rounded-xl bg-secondary-100/30;
    z-index: -1;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    transform: translate(-50%, -50%) rotate(5deg);
}

.slider_card--animation::before {
    animation-name: animation_background_card;
    animation-duration: 0.5s; /* ./src/components/slider/index.ts >>> handleButtonOfSlider >>> setTimeout */
    animation-timing-function: linear;
}

@keyframes animation_background_card {
    0% {
        transform: translate(-50%, -50%) rotate(5deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(185deg);
    }
}

.slider__first_img {
    @apply rounded-xl;
    min-height: 200px;
    min-width: 200px;
    height: calc(100vw - 60px);
    width: calc(100vw - 60px);
    max-height: 300px;
    max-width: 300px;
    object-fit: cover;
    cursor: pointer;
}

.slider__first_img--animation {
    animation-name: slider__first_img--animation;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
@keyframes slider__first_img--animation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slider__second_img {
    @apply rounded-xl;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slider_button {
    @apply flex items-center gap-5;
}
.slider_button[disabled] {
    opacity: 0.5;
}

.slider_button__text {
    @apply text-[32px] font-normal text-primary-100;
}

.slider_button:hover:hover .slider_button__text,
.slider_button:hover:focus-visible .slider_button__text {
    @apply text-primary-200;
}
.slider_button:hover:active .slider_button__text {
    @apply text-primary-300;
}

.slider_button__arrow {
    @apply fill-primary-100 stroke-primary-100;
}

.slider_button:hover .slider_button__arrow--color,
.slider_button:focus-visible .slider_button__arrow--color {
    @apply fill-primary-200 stroke-primary-200;
}
.slider_button:active .slider_button__arrow--color {
    @apply fill-primary-300 stroke-primary-300;
}

#view_slide {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: #000000b3;
}

.view_slide__img {
    max-height: 90vh;
    max-width: 90vw;
    object-fit: cover;
}

.view_slide__button_close {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}

@media (min-width: 640px) and (min-height: 700px) {
    .slider__first_img {
        max-height: 450px;
        max-width: 450px;
    }
}

@media (min-width: 1024px) {
    .slider__first_img {
        max-height: 400px;
        max-width: 400px;
    }
}
@media (min-width: 1280px) and (min-height: 700px) {
    .slider__first_img {
        max-height: 500px;
        max-width: 500px;
    }
}

@media (min-width: 1536px) and (min-height: 850px) {
    .slider__first_img {
        max-height: 600px;
        max-width: 600px;
    }
}

@media (max-height: 640px) and (orientation: landscape) {
    .slider__first_img {
        max-height: 50vh;
        max-width: 50vh;
    }
}
